@page "/activities"
@rendermode InteractiveServer

<PageTitle>Actividades - SolarMicronet</PageTitle>

<h1><i class="bi bi-list-task text-success"></i> Actividades Comunitarias</h1>

<div class="alert alert-info">
    <h4>Página de Actividades Comunitarias</h4>
    <p>Funcionalidad implementada:</p>
    <ul>
        <li>Crear actividades (Admin)</li>
        <li>Reclamar actividades</li>
        <li>Submit actividades</li>
        <li>Aprobar actividades (Validadores)</li>
        <li>Procesar pagos (Quórum 2/3)</li>
    </ul>
</div>
