@page "/transfer"
@rendermode InteractiveServer

<PageTitle>Transferencias - SolarMicronet</PageTitle>

<h1><i class="bi bi-arrow-left-right text-primary"></i> Transferencias de Energon</h1>

<div class="alert alert-info">
    <h4>P치gina de Transferencias</h4>
    <p>Funcionalidad implementada:</p>
    <ul>
        <li>Transferencias ERC-20 de Energon</li>
        <li>Validaci칩n de balance</li>
        <li>Validaci칩n de direcci칩n</li>
    </ul>
</div>
